@charset "utf-8";
/* Google fonts：cwTeXFangSong (Chinese Traditional) 仿宋體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

/* Google fonts：cwTeXYen (Chinese Traditional) 圓體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

/* Google fonts  cwTeXKai (Chinese Traditional) 楷體字體 */
@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

/* 顏色設定第1版  前面掛上yf都是我自己的設定*/
/* 	(#58355E)主色1—重要標記
	(#E03616)主色2---大版面顏色
	(#FFF689)輔助色1
	(#CFFFBD)輔助色2
	(#5998C4)輔助色3 */
.yf-color-pr1 {
  color: #f13c20;
}

.yf-color-pr2 {
  color: #4056a1;
}

.yf-color-as1 {
  color: #d79922;
}

.yf-color-as2 {
  color: #efe2ba;
}

.yf-color-as3 {
  color: #c5cbe3;
}

/* 背景顏色設定 */

.yf-bg-color-pr1 {
  background-color: #f13c20;
}

.yf-bg-color-pr2 {
  background-color: #4056a1;
}

.yf-bg-color-as1 {
  background-color: #d79922;
}

.yf-bg-color-as2 {
  background-color: #efe2ba;
}

.yf-bg-color-as3 {
  background-color: #c5cbe3;
}

/* 標題字體 */
.yf-header-font {
  font-family: "Noto Sans TC", sans-serif;
}

/* 所有圖片寬度 */
.yf-about-p1 {
  width: 100%;
  height: 100%;
}

/* 目前這個沒用到 */
.yf-border-radius {
  border: 2px solid black;
  border-radius: 10px;
}

button {
  margin-top: 5px;
}

.yf-header {
  height: 150px;
}

.yf-footer {
  position: fixed;
  bottom: 0;
  height: 40px;
}

.yf-footer60 {
  position: fixed;
  bottom: 0;
  height: 60px;
}

.yf-aside-top {
  position: fixed;
  top: 168px;
}

.yf-header {
  width: 100%;
  height: 112px;
  position: fixed;
  top: 0;
  z-index: 2;
}

/* 111.10.14 新增CSS 紅字黃底加粗 */
.yf-code1 {
  color: red;
  background: yellow;
  font-weight: bold;
}

/* 111.10.22 新增CSS 紅字黃底加粗 */
.yf-code2 {
  color: blue;
  background: yellow;
  font-weight: bold;
}

/* 111.10.22 新增CSS 紅字黃底加粗 */
.yf-code3 {
  color: blue;
  background: lightgray;
  font-weight: bold;
}

/* 111.11.06 圖片的外框 */
.yf-frame1 {
  padding: 5px;
  background-color: gray
}

/* 111.11.07  google仿宋字體 */
.yf-font1 {
  font-family: 'cwTeXFangSong', serif;
  font-weight: 900;
}

/* 111.11.07  google仿宋字體 */
.yf-font2 {
  font-family: 'cwtexkai', serif;
  font-weight: 900;
}

.yf-center {
  display: flex;
  /* 使用 Flexbox */
  justify-content: center;
  /* 水平置中 */
  align-items: center;
  /* 垂直置中 */
}

.yf-color1 {
  color: purple;
}

/* 114.04.25 新增CSS 棕色字體專門放故事用 */
.yf-color2 {
  color: brown;
}

.yf-color3 {
  color: rgb(231, 22, 151);
}

/* 將動畫容器設置居中 */
#lottie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;

}

.dropdown-menu {
  max-height: 600px;
  /* 您希望的最大高度 */
  overflow-y: auto;
  /* 當內容超出時顯示垂直滾動條 */
}

.yf1 {
  color: green;
  /* 深灰色 */
  font-weight: bold;
  /* 粗體 */
  /* text-decoration: line-through; 
  /* 刪除線 */
}

.yf11 {
  color: green;
  /* 深灰色 */

}


.yf2 {
  color: purple;
  /* 粉紅色 */
  font-weight: bold;
  /* 粗體 */
}

.yf22 {
  color: purple;
  /* 粉紅色 */

}

.yf3 {
  color: #0D6EFD;
  /* 藍色 */
  font-weight: bold;
}

.yf33 {
  color: #0D6EFD;
  /* 粉紅色 */

}

.yf4 {
  color: red;
  /* 藍色 */
  font-weight: bold;
}

.yf44 {
  color: red;
  /* 粉紅色 */

}

.yf5 {
  color: rgb(143, 13, 13);
  font-weight: bold;
  /* 橘色 */
}

.yf55 {
  color: rgb(143, 13, 13);
  /* 橘色 */
}
.yf66 {
  color: rgb(36, 209, 195);
  /* 黃色 */
}

.yf-c {
  text-align: center
    /* 粉紅色 */

}

.icon-inline {
  height: 1em;
  /* 高度 = 字體高度 */
  vertical-align: middle;
  /* 與文字中線對齊 */
  margin-right: 4px;
  /* 與文字留距離，可自行調整 */
}